/*
 * res/default.css
 * LHS Math Club Website
 */

html {
  margin: 0;
  padding: 0;
  
  font-family: georgia, serif;
  font-size: 13pt;
  line-height: 1.15;
  
  overflow-y: scroll;
  
  background-color: #f8f8f8;
}

body {
  margin: 0;
  padding: 0;
  
  width: 975px;
  margin-left: auto;
  margin-right: auto;
}



/* Header Bar */

#header {
  height: 35px;
  padding: 15px;
  margin-bottom: 30px;
  
  background-color: #333;
  
  text-align: right;
  color: #fff;
}

a#title {
  float: left;
  
  color: #fff;
  text-align: left;
  font-family: verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;  
}

div#user {
  padding-top: 15px;
  
  font-size: 11pt;
}

span#username {
  font-weight: bold;
}

#user a {
  color: #d0d0d0;
  text-decoration: none;
}

#user a:hover, a:active {
  text-decoration: underline;
}



/* Link Bar */

#linkbar {
  float: left;
  width: 189px;
  
  padding-right: 20px;
  margin-top: 90px;
  
  text-align: right;
  
  border-right: 1px solid #ccc;
}

#linkbar a {
  color: #555;
  font-family: verdana, sans-serif;
  font-weight: normal;
  text-decoration: none;
}

#linkbar a:hover, #linkbar a:active {
  text-decoration: underline;
}

#linkbar .selected {
  color: #555;
  font-family: verdana, sans-serif;
  font-weight: bold;
}

.linkgroup {
  margin-left: auto;
  margin-bottom: 25px;
}



/* Content Area */

#content {
  float: right;
  width: 725px;
  
  padding: 20px;
  padding-top: 0;
  margin-bottom: 20px;
}



/* Formatting Classes */

h1 {
  text-align: right;
  
  padding-bottom: 15px;
  
  font-family: verdana, sans-serif;
  font-weight: normal;
}

td {
  vertical-align: top;
}

.b {
  font-weight: bold;
}

.u {
  text-decoration: underline;
}

.i {
  font-style: italic;
}

.small {
  font-size: 10pt;
}

.monospace{
  font-family:Courier,monospace;
  font-size:0.9em;
}

.error, .alert, .alert.neut, .alert.neut *{
  width: 100%;
  padding: 10px;
  
  background-color: #555;
  
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  
  margin-bottom: 1em;
}

.error, .alert.neg, .alert.neg *{
  background-color: #ffb2b2;
  color: #000;
}

.alert.pos, .alert.pos *{
  background-color: #b2ffb2;
  color: #000;
}

.instruction {
  font-size: 12pt;
}

.right {
  float: right;
  text-align: right;
}

.text-centered {
  text-align: center;
}

.halfbreak {
  padding: 3px;
}

.min-width {
  width: 1px;
}

a {
  color: #555;
}

.sidetab {
  float: right;
  padding: 5px 5px 5px 25px;
  margin-top: 40px;
  background-color: #555;
  font-weight: bold;
  color: #fff;
}

.sidetab a, .alert a {
  color: #fff;
}

table.spacious td, table.spacious th {
  padding-bottom: 5px;
}

table.visible {
  border-collapse: collapse;
  margin-top: 10px;
}

table.visible td, table.visible th {
  padding: 5px;
  
  border: 1px solid #000;
}

table.contrasting td, table.contrasting th {
  padding: 5px;
}

table.contrasting tr:nth-child(even) {
  background-color: #eee;
}

textarea {
  font-family: georgia, serif;
  font-size: 16px;
  line-height: 1.15;
}

#pingdomreport {
  width: 1050px;
  height: 1000px;
  position: relative;
  left: -175px;
  z-index: -10;
  overflow: hidden;
}

.nounderline {
  text-decoration: none;
}

.smbottom {
  margin-bottom: 1px;
}

.files {
  margin-left: 10px;
  width: 400px;
}

.indented {
  margin-left: 10px;
}

.noMargin {
  margin: 0;
}

.red {
  color: red;
}

/*Calendar!*/
.cal{ border-left:1px solid #999; background-color: #fff;}

.cal tr{}

.cal th{ font-size: 10pt; background:#ccc; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }

.cal td{ width:120px; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; }

.cal td.blank { background:#eee; min-height:80px; }

.cal td.day{ font-size:13px; position:relative; height: 110px; line-height: 1; }
.cal td.day:hover{ background:#eceff5; }
.cal td.day div.day-number	{ background:#999; padding:5px; color:#fff; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center; }

.cal td.day.now{background-color:#99f}
.cal td.day.past{background-color:#ccc}
.cal td.day.future{background-color:#fff}


#blanket {
background-color:#111;
opacity: 0.65;
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}
#popUpDiv {
position:absolute;
background-color:#eeeeee;
width:530px;
height:300px;
z-index: 9002;
}
#eventDisplay {
  height: 100%;
  width: 100%;
}